/*globals.css*/
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --font-minecraft: var(--font-minecraft-regular);
  --font-minecraft-bold: var(--font-minecraft-bold);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

/* Blob card shape */
.blob-card {
  clip-path: path(
    "M16 80C16 35 40 16 96 16h320c56 0 80 19 80 64v176c0 45-24 64-80 64H96c-56 0-80-19-80-64Z"
  );
}
